@mixin full {
  width: 100%;
  height: 100%;
}

@mixin fullw {
  width: 100%;
}

@mixin fix {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin fullh {
  height: 100%;
}

@mixin fit {
  width: fit-content;
  height: fit-content;
}

@mixin flexrr {
  display: flex;
  flex-direction: row-reverse;
}

@mixin flexc {
  display: flex;
  flex-direction: column;
}

@mixin flexcr {
  display: flex;
  flex-direction: column-reverse;
}

@mixin center {
  justify-content: center;
  align-items: center;
}

@mixin border {
  border: 1px rgb(194, 194, 194) solid;
  border-radius: 10px;

  > * {
    padding: 15px;
  }

  > *:not(:last-child) {
    border-bottom: 1px gainsboro solid;
  }
}

@mixin select {
  user-select: text;
  * {
    user-select: text;
  }
}

@mixin noselect {
  user-select: none;
  * {
    user-select: none;
  }
}

.main {
  overflow: hidden;

  > * {
    position: absolute;
  }

  * {
    overflow: hidden;
  }
}

.login {
  height: 100%;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > img {
    max-width: 50%;
    height: auto;
    margin-bottom: 50px;
  }
  > input {
    width: 300px;
    max-width: 80%;
    margin-bottom: 10px;
  }
  input {
    background-color: #00000079;
    border: 1px solid rgb(255, 255, 255);
    height: 40px;
    padding: 0 10px;
    color: white;
    &::placeholder {
      color: #aaa;
    }
    &:focus {
      outline: none;
    }
  }

  > :last-child {
    position: relative;
    width: 300px;
    max-width: 80%;

    img {
      position: absolute;
      right: 10px;
      cursor: pointer;
    }
    display: flex;
    align-items: center;
    input {
      width: 100%;
    }
  }
}

.os {
  @include full;
  top: 0;
  pointer-events: none;
  * {
    pointer-events: auto;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskbar {
  width: 100%;
  padding: 5px 10px;
  background-color: rgba(247, 247, 247, 0.9);
  display: flex;
  margin-top: auto;
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 50;
  div {
    padding: 8px;
    height: 40px;
    border-radius: 10px;
    margin: 2px;
    @media (pointer: coarse) {
      padding: 0;
      height: 50px;
      margin: 10px;
    }
    img {
      height: 100%;
      width: auto;
    }
    @media (pointer: fine) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
      }
    }
  }

  @media (pointer: coarse) {
    width: fit-content;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: rgba(247, 247, 247, 0.2);
  }
}

.test {
  background-color: azure;
}

.win {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background-color: rgba(252, 252, 252, 0.97);
  border: 1px solid #ddd;
  user-select: none;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  overflow: visible;
  > :nth-child(2) {
    height: calc(100% - 30px);
  }
  @media (pointer: coarse) {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-bottom: 110px;
  }
}

.handle {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.05);
  height: 30px;
  // logo
  > :first-child {
    margin: 5px;
    height: 20px;
  }
  // buttons
  > :last-child {
    > * {
      display: inline-block;
      height: 30px;
      width: 30px;
      padding: 10px;
      border-radius: 2px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      position: relative;
      img {
        position: absolute;
      }

      &:last-child:hover {
        background-color: rgba(167, 0, 0, 0.5);
      }
    }
  }
}

.chrome {
  height: 100%;
  width: 100%;
  padding: 5px;
  // tabbar
  > :nth-child(1) {
    height: 35px;
    padding: 0 10px;
    padding-top: 5px;
    display: flex;
    overflow-x: scroll;
    ::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    // home
    > :first-child {
      min-width: 40px;
    }
    img {
      height: 100%;
      width: auto;
    }

    // tab
    > * {
      height: 100%;
      border-radius: 10px 10px 0 0;
      background-color: white;
      margin: 0;
      margin-right: 10px;
      padding: 5px 10px;
      position: relative;
      white-space: nowrap;
      min-width: 30px;
      .close{
        position: absolute;
        height: 16px;
        width: 16px;
        right: 7px;
        top: 7px;
        border-radius: 5px;
        color: transparent;
        &:hover {
          color: black;
          background-color: #efefef;
        }
      }
    }
  }

  .activeTab {
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
  }

  // viewer
  > :nth-child(2) {
    height: calc(100% - 35px);
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-y: scroll;
  }
}

.chromePage {
  @include select;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  > * {
    max-width: min(600px, 80%);
    margin-bottom: 20px;
  }
}

.display {
  padding: 50px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  > * {
    margin: 15px;
  }

  // search
  > :nth-child(2) {
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    min-width: 250px;
  }

  // shortcut
  > :nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    justify-content: center;
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
      > :first-child {
        background-color: #ddd;
        font-family: monospace;
        padding: 10px 15px;
        border-radius: 15px;
        cursor: pointer;
        &:hover {
          background-color: #eee;
        }
      }
      > :last-child {
        width: 40px;
        white-space: nowrap;
      }
    }
  }
}

.notfound {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vscode {
  font-family: monospace;
  width: 100%;
  height: 100%;
  padding: 5px;
  position: relative;
  
  button {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;

    img {
      height: 100%;
      width: 100%;
    }

    &:disabled {
      img {
        filter: opacity(0.2); 
      }
    }
    
  }

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    tab-size: 4;
    line-height: 1.5;
    padding: 10px;
    padding-top: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-y: scroll;
    &:focus {
      outline: none;
    }
    @include select;
  }
}

.outlook {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 2fr; 
  gap: 5px;
  height: 100%;
  padding: 5px;

  @mixin style {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
  }

  > * {
    position: relative;
  }
  // inbox
  > :nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    overflow-y: scroll;
    padding-right: 3px;
    > * {
      height: 50px;
      margin-bottom: 5px;
      padding: 5px;
      white-space: nowrap;
      overflow: hidden;
      @include style;

      > :last-child {
        font-size: 12px;
        color: #333;
      }
    }
  }
  // reader
  > :nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    @include style;
    padding: 5px;
    overflow-y: scroll;
    user-select: text;

    > :first-child {
      white-space: pre-wrap;
    }

    @include select;
  }
  // compose
  > :nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    @include style;
    user-select: auto;
    // inputs
    > :not(button) {
      width: 100%;
      border: none;
      padding: 5px;
      &:focus {
        outline: none;
      }
      font-family: Arial, Helvetica, sans-serif;
      &::placeholder {
        color: #ccc;
      }
    }
    // textarea
    > :nth-child(2) {
      border-top: 1px solid #ddd;
      resize: none;
      flex-grow: 1;
      @include select;
    }
    // send
    > button {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 5px;

      &:not(:disabled) {
        background-color: #0072C6;
        color: white;
      }
    }
  }

  @media (pointer: coarse) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; 

    // inbox
    > :nth-child(1) {
      grid-column: 1;
      grid-row: 1 / 2;
    }
    // reader
    > :nth-child(2) {
      grid-column: 1;
      grid-row: 2 / 3;
    }
    // compose
    > :nth-child(3) {
      grid-column: 1;
      grid-row: 3 / 4;
    }
  }
}