.main {
  overflow-y: scroll;
  height: 100%;
  padding: 50px;
  ul, ol {
    padding-left: 20px;
  }
}

.list {
  > * {
    border-bottom: 1px gainsboro solid;
    padding: 30px 15px;
    &:hover {
      background-color: #fafafa;
      cursor: pointer;
    }

    ul, ol, li, p {
      margin-bottom: 1em;
    }
  }
}