@mixin full {
  width: 100%;
  height: 100%;
}

@mixin fullw {
  width: 100%;
}

@mixin fullh {
  height: 100%;
}

@mixin fit {
  width: fit-content;
  height: fit-content;
}

@mixin flexr {
  display: flex;
  flex-direction: row;
}

@mixin flexrr {
  display: flex;
  flex-direction: row-reverse;
}

@mixin flexc {
  display: flex;
  flex-direction: column;
}

@mixin flexcr {
  display: flex;
  flex-direction: column-reverse;
}

@mixin center {
  justify-content: center;
  align-items: center;
}

@mixin border {
  border: 1px rgb(194, 194, 194) solid;
  border-radius: 10px;

  > * {
    padding: 15px;
  }

  > *:not(:last-child) {
    border-bottom: 1px gainsboro solid;
  }
}

@mixin select {
  user-select: text;
  * {
    user-select: text;
  }
}

@mixin noselect {
  user-select: none;
  * {
    user-select: none;
  }
}

.main {
  @include flexc;
  align-items: center;
  overflow-y: scroll;
}

.header {
  @include fullw;
  padding: 25px;
  background-color: #F6F8FA;
  margin-bottom: 50px;
  box-shadow: 0px 0px 3px grey;
  img {
    scale: 2;
  }
  span {
    margin-left: 10px;
  }
}

.footer {
  font-size: small;
  color: darkgray;
  margin-bottom: 50px;
}

.body {
  @include flexr;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  @media (max-width: 900px) {
    @include flexc;
  }
  margin-bottom: 50px;
}

.left {
  width: 10%;
  flex-grow: 1;
  @media (max-width: 900px) {
    width: 100%;
  }
}

.files {
  @include border;
  > *:not(:first-child):hover {
    color: #218bff;
    background-color: #F6F8FA;
    text-decoration: underline;
    cursor: pointer;
  }
}

.readme {
  user-select: auto;
  margin: 30px 0;
  @include border;

  @include select;
}

.right {
  width: 300px;
  @media (max-width: 900px) {
    width: 100%;
  }
  padding: 20px;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  > * {
    font-size: 12px;
    white-space: nowrap;
    background-color: #ddf4ff;
    color: #0969da;
    margin: 3px 3px 3px 0;
    padding: 5px 10px;
    border-radius: 1em;

    &:hover {
      background-color: #0969da;
      color: white;
      cursor: pointer;
    }
  }
}

.first {
  background-color: #F6F8FA;
  border-radius: 10px 10px 0 0;
  height: 50px;
  @include noselect;
}

.md {
  padding: 30px;
  width: 100%;
  height: fit-content;
  line-height: 24px;
  h1 {
    line-height: 42px;
  }
  hr {
    margin-top: 10px;
    border: 1px solid #eee;
  }

  ul {
    margin-left: 32px;
    li {
      margin: 5px 0;
    }
  }

  a {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #0969da;
  }

  img {
    width: 100%;
    height: auto;
  }

  code {
    background-color: #eee;
    padding: 2px 5px;
    border-radius: 0.3em;
  }
}

.icon {
  display: flex;
  > :first-child {
    height: 1.1em;
    width: 1.1em;
    margin-right: 10px;
  }
  align-items: center;
}

.indent {
  padding-left: 40px;
}

.select {
  @include select;
}

.noselect {
  @include noselect;
}